<div id="home" class="content">
    <header>
        {{> header/logo }}
    </header>
    {{> background }}
    <main>
        <div class="container">
        {{> section-enter-room }}
        {{> div-separator }}
        {{> section-create-room }}
        </div>
    </main>
</div>