<div id="room" class="content">
    <header>
        {{> header/logo }}
        {{> header/buttons }}
    </header>
    <main>
        {{> question-form }}
        <section id="questions">
            <h2 class="sr-only">Community questions</h2>
            <div class="questions">
                {{#if (emptyArray questions)}}
                    {{> no-questions}}
                {{else}}
                    {{#each questions}}
                        {{> question }}
                    {{/each}}
                {{/if}}
            </div>
        </section>
    </main>
</div>
<!-- MODAL -->
{{> modal }}