<div class="modal-wrapper">
    <div class="modal">
        <h2>Question</h2>
        <p>Are you sure you want to do it?</p>
        <label class="sr-only" for="password">Type your password</label>
        <form action="#" method="POST"><input type="password" name="password" placeholder="Type your admin password">

            <div class="buttons">
                <div class="button grey cancel">Cancel</div>
                <button>Yes, do it</button>
            </div>
        </form>
    </div>
</div>