<div class="no-questions">
    <img src="/images/chat-balloons.svg" alt="Conversation balloons">
    <p>There's no questions here...</p>
    <p>Ask your first question and send room's code for another people!</p>
</div>