<section>
    <h2>Enter as a participant</h2>
    <form action="/enter-room" method="POST">
        <label class="sr-only" for="room-id">Room code</label>
        <input type="number" name="roomId" id="room-id" placeholder="Room code">
        <button>
            <img src="/images/enter-room.svg" alt="An arrow indicating an entrypoint">
            Enter a room
        </button>
    </form>
</section>