<div class="buttons">
    <div class="button outlined" id="room-id" data-id='{{roomId}}'>
        #{{roomId}}
        <img src="/images/copy.svg" alt="Files symbolizing copying">
    </div>
    <a href="/create-pass" class="button">
        <img src="/images/users-white.svg" alt="Two characters symbolizing users">
        Create room
    </a>
</div>